<h1 align="center"> Projet BI:  AdventureWorks Cycle Data Analytics</h1>

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("Data/AdventureWorksData.csv", delimiter = ";", encoding='utf-8')
print(data.shape)
data.head()

(121253, 45)

,SalesOrderLineKey,ResellerKey,CustomerKey,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,SalesTerritoryKey,Order Quantity,Unit Price,...,Region,Country,Group,DateKey,Date,Fiscal Year,Fiscal Quarter,Month,Full Date,MonthKey
0,43659001,676,-1,349,20170702,20170712,20170709.0,5,1,2024.994,...,Southeast,United States,North America,20170712,2017-07-12,FY2018,FY2018 Q1,2017 Jul,"2017 Jul, 12",201707
1,43659002,676,-1,350,20170702,20170712,20170709.0,5,3,2024.994,...,Southeast,United States,North America,20170712,2017-07-12,FY2018,FY2018 Q1,2017 Jul,"2017 Jul, 12",201707
2,43659003,676,-1,351,20170702,20170712,20170709.0,5,1,2024.994,...,Southeast,United States,North America,20170712,2017-07-12,FY2018,FY2018 Q1,2017 Jul,"2017 Jul, 12",201707
3,43659004,676,-1,344,20170702,20170712,20170709.0,5,1,2039.994,...,Southeast,United States,North America,20170712,2017-07-12,FY2018,FY2018 Q1,2017 Jul,"2017 Jul, 12",201707
4,43659005,676,-1,345,20170702,20170712,20170709.0,5,1,2039.994,...,Southeast,United States,North America,20170712,2017-07-12,FY2018,FY2018 Q1,2017 Jul,"2017 Jul, 12",201707

In [2]:
data.columns

Index(['SalesOrderLineKey', 'ResellerKey', 'CustomerKey', 'ProductKey',
       'OrderDateKey', 'DueDateKey', 'ShipDateKey', 'SalesTerritoryKey',
       'Order Quantity', 'Unit Price', 'Extended Amount',
       'Unit Price Discount Pct', 'Product Standard Cost',
       'Total Product Cost', 'Sales Amount', 'Customer ID', 'Customer', 'City',
       'State-Province', 'Country-Region', 'Postal Code', 'SKU', 'Product',
       'Standard Cost', 'Color', 'List Price', 'Model', 'Subcategory',
       'Category', 'Reseller ID', 'Business Type', 'Reseller', 'Channel',
       'Sales Order', 'Sales Order Line', 'Region', 'Country', 'Group',
       'DateKey', 'Date', 'Fiscal Year', 'Fiscal Quarter', 'Month',
       'Full Date', 'MonthKey'],
      dtype='object')

In [3]:
data.drop(columns = ['Fiscal Year', 'Fiscal Quarter', 'Month', 'Full Date', 'MonthKey','OrderDateKey', 
                     'DueDateKey','ShipDateKey','Extended Amount','Sales Order', 'Sales Order Line',
                     'Unit Price Discount Pct', 'Unit Price', 'Customer ID', 'Postal Code', 'SKU',
                     'Total Product Cost', 'Sales Amount','Standard Cost', 
                     'Reseller ID','State-Province', 'Country-Region','ResellerKey','Reseller'],
          inplace = True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121253 entries, 0 to 121252
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   SalesOrderLineKey      121253 non-null  int64
 1   CustomerKey            121253 non-null  int64
 2   ProductKey             121253 non-null  int64
 3   SalesTerritoryKey      121253 non-null  int64
 4   Order Quantity         121253 non-null  int64
 5   Product Standard Cost  121253 non-null  float64
 6   Customer               121253 non-null  object
 7   City                   121253 non-null  object
 8   Product                121253 non-null  object
 9   Color                  87109 non-null   object
 10  List Price             121253 non-null  float64
 11  Model                  121253 non-null  object
 12  Subcategory            121253 non-null  object
 13  Category               121253 non-null  object
 14  Business Type          121253 non-null  object
 15  Channel                121253 non-null  object
 16  Region                 121253 non-null  object
 17  Country                121253 non-null  object
 18  Group                  121253 non-null  object
 19  DateKey                121253 non-null  int64
 20  Date                   121253 non-null  object
dtypes: float64(2), int64(6), object(13)
memory usage: 19.4+ MB

 <H1 align="center">Remplacer les valeurs manquantes des clients dans les donnees</H1>

## Afficher les infos manquantes

In [5]:
print(data.loc[data["CustomerKey"] == -1].shape)
data.loc[data["CustomerKey"] == -1, ["CustomerKey","Customer","City", "Country", "Region"]].head()

(60855, 21)

   CustomerKey          Customer              City        Country     Region
0           -1  [Not Applicable]  [Not Applicable]  United States  Southeast
1           -1  [Not Applicable]  [Not Applicable]  United States  Southeast
2           -1  [Not Applicable]  [Not Applicable]  United States  Southeast
3           -1  [Not Applicable]  [Not Applicable]  United States  Southeast
4           -1  [Not Applicable]  [Not Applicable]  United States  Southeast

### Remplacer les infos clients par rapport au pays

In [6]:
def replace_values_for_countries(country_name):
    print("Le nom du pays en cours: " + country_name)
    customer_name = data.loc[data["Country"] == country_name, "Customer"].value_counts().index.tolist()[1]
    print("Le nom du client actif: " + customer_name) 
        # update null values
    customer = data.loc[data["Customer"] == customer_name, ["CustomerKey","Customer","City"]].head(1)
    data.loc[(data["Country"] == country_name) & (data["CustomerKey"] == -1) ,"Customer"] = customer['Customer'].iloc[0]
    data.loc[(data["Country"] == country_name) & (data["CustomerKey"] == -1) ,"City"] = customer['City'].iloc[0]
    data.loc[(data["Country"] == country_name) & (data["CustomerKey"] == -1) ,"CustomerKey"] = customer['CustomerKey'].iloc[0]

In [7]:
countries = data.loc[data["CustomerKey"] == -1, "Country"].value_counts().index.tolist()
for country in countries:
    replace_values_for_countries(country)

Le nom du pays en cours: United States
Le nom du client actif: Jordan Hernandez
Le nom du pays en cours: Canada
Le nom du client actif: Ashley Henderson
Le nom du pays en cours: France
Le nom du client actif: April Shan
Le nom du pays en cours: United Kingdom
Le nom du client actif: Anne Hernandez
Le nom du pays en cours: Germany
Le nom du client actif: Franklin Xu
Le nom du pays en cours: Australia
Le nom du client actif: Jaclyn Xu

In [8]:
print(data.loc[data["CustomerKey"] == -1].shape)
data.loc[data["CustomerKey"] == -1, ["CustomerKey","Customer","City", "Country", "Region"]].head()

(0, 21)

Empty DataFrame
Columns: [CustomerKey, Customer, City, Country, Region]
Index: []

# Importer fichier client

In [9]:
client_2020 = pd.read_excel("Data/Adventure Works Excel.xlsx", sheet_name = "Customers",
                         usecols = ['CustomerKey','Name','BirthDate', 'MaritalStatus',
                                    'Gender', 'YearlyIncome', 'NumberChildrenAtHome', 'Occupation',
                                    'HouseOwnerFlag', 'NumberCarsOwned'])
client_2020.rename(columns = {"Name" : "Customer"}, inplace = True)
print(client_2020.shape) 
client_2020.columns

(18484, 10)

Index(['CustomerKey', 'Customer', 'BirthDate', 'MaritalStatus', 'Gender',
       'YearlyIncome', 'NumberChildrenAtHome', 'Occupation', 'HouseOwnerFlag',
       'NumberCarsOwned'],
      dtype='object')

In [10]:
data = pd.merge(data, client_2020, how="left", on = ["CustomerKey", "Customer"])
print(data.shape)
data.columns

(121253, 29)

Index(['SalesOrderLineKey', 'CustomerKey', 'ProductKey', 'SalesTerritoryKey',
       'Order Quantity', 'Product Standard Cost', 'Customer', 'City',
       'Product', 'Color', 'List Price', 'Model', 'Subcategory', 'Category',
       'Business Type', 'Channel', 'Region', 'Country', 'Group', 'DateKey',
       'Date', 'BirthDate', 'MaritalStatus', 'Gender', 'YearlyIncome',
       'NumberChildrenAtHome', 'Occupation', 'HouseOwnerFlag',
       'NumberCarsOwned'],
      dtype='object')


### Renommer les colonnes

In [11]:
data.rename(columns = {'SalesOrderLineKey' : "ID Commande", 'ResellerKey' : "ID Livreur", 
                       'CustomerKey' : "ID Client",'ProductKey' : "ID Produit",'OrderDateKey' : "ID Date Commande",
                       'ShipDateKey' : "ID Date Expedition", 'SalesTerritoryKey' : "ID Territoire",
                       'Order Quantity' : "Quantite Commande", 'Unit Price' : "Prix",'Customer' : "Nom Client", 
                       'City' : "Ville",'State-Province' : "Province", 'Postal Code' : "Code Postale", 
                       'Product' : "Nom Produit",'Color' : "Couleur",  'Model' : "Modele", 
                       'Subcategory' : "Sous Categorie",'Category' : "Categorie", 'Reseller' : "Nom Livreur", 
                       'Business Type' : "Type Business", 'Channel' : "Type Canal",'Sales Order' : "Commande",
                       'Country' : "Pays", 'Group' : "Continent", "DateKey" : "ID Date", "Gender" : "Genre",
                       "BirthDate": "Date de Naissance", "MaritalStatus" : "Etat Civil","Occupation" : "Poste",
                       "YearlyIncome" : "Revenu annuel", "NumberChildrenAtHome" : "Nbr Enfants", 
                       "HouseOwnerFlag" : "Propeietaire Maison" , "NumberCarsOwned" : "Nbr Voitures", "List Price" : "Prix",
                       "Product Standard Cost" : "Cout standard"
                       }, 
            inplace = True)
data.columns

Index(['ID Commande', 'ID Client', 'ID Produit', 'ID Territoire',
       'Quantite Commande', 'Cout standard', 'Nom Client', 'Ville',
       'Nom Produit', 'Couleur', 'Prix', 'Modele', 'Sous Categorie',
       'Categorie', 'Type Business', 'Type Canal', 'Region', 'Pays',
       'Continent', 'ID Date', 'Date', 'Date de Naissance', 'Etat Civil',
       'Genre', 'Revenu annuel', 'Nbr Enfants', 'Poste', 'Propeietaire Maison',
       'Nbr Voitures'],
      dtype='object')

### Afficher les dates unique de la table

In [12]:
# Ajouter une colonne Annee dans le fichier qui contient seulement l'annee
print("Date : ")
data["Date"].unique()

Date :

array(['2017-07-12', '2018-01-29', '2018-04-11', ..., '2017-12-28',
       '2017-07-21', '2017-10-19'], dtype=object)

In [13]:
data['Date'] = pd.to_datetime(data['Date'], format = '%Y-%m-%d')

In [14]:
data["Date"].unique()

array(['2017-07-12T00:00:00.000000000', '2018-01-29T00:00:00.000000000',
       '2018-04-11T00:00:00.000000000', ...,
       '2017-12-28T00:00:00.000000000', '2017-07-21T00:00:00.000000000',
       '2017-10-19T00:00:00.000000000'], dtype='datetime64[ns]')

### Creation de la colonne Annee

In [15]:
data['Annee'] = data['Date'].dt.strftime('%Y')
print("Annee Cree :")
data["Annee"].unique()

Annee Cree :

array(['2017', '2018', '2019', '2020'], dtype=object)

### Creation de la colonne Mois

In [16]:
data['Mois'] = data['Date'].dt.strftime('%m')
print("Mois Cree :")
data["Mois"].unique()

Mois Cree :

array(['07', '01', '04', '10', '08', '05', '02', '11', '09', '06', '12',
       '03'], dtype=object)

### Creation de la colonne Semaine

In [17]:
data['Semaine'] = data['Date'].dt.strftime('%W')
print("Semaine Cree :")
data["Semaine"].unique()

Semaine Cree :

array(['28', '05', '15', '40', '43', '01', '14', '27', '30', '04', '17',
       '03', '29', '41', '32', '19', '06', '45', '34', '46', '07', '21',
       '35', '47', '08', '23', '36', '48', '09', '22', '39', '49', '10',
       '12', '13', '25', '42', '20', '33', '38', '26', '52', '00', '18',
       '50', '16', '24', '31', '51', '37', '02', '11', '44', '53'],
      dtype=object)

### Cration de la colonne Saison

In [18]:
conditions = [
                data["Mois"].isin(["11","12","01"]),
                data["Mois"].isin(["02","03","04"]),
                data["Mois"].isin(["05","06","07"]),
                data["Mois"].isin(["08","09","10"])
             ]
saisons = [
                "Hiver",
                "Printemps",
                "Ete",
                "Automn"
             ]
data["Saison"] = np.select(conditions, saisons)
data["Saison"].unique()

array(['Ete', 'Hiver', 'Printemps', 'Automn'], dtype=object)

# <H1 align="center">Remplacer les valeurs manquantes dans les donnees</H1><br>

### Afficher le nombre des valeurs nulles dans chaque colonne

In [19]:
data.isnull().sum()

ID Commande                0
ID Client                  0
ID Produit                 0
ID Territoire              0
Quantite Commande          0
Cout standard              0
Nom Client                 0
Ville                      0
Nom Produit                0
Couleur                34144
Prix                       0
Modele                     0
Sous Categorie             0
Categorie                  0
Type Business              0
Type Canal                 0
Region                     0
Pays                       0
Continent                  0
ID Date                    0
Date                       0
Date de Naissance          0
Etat Civil                 0
Genre                      0
Revenu annuel              0
Nbr Enfants                0
Poste                      0
Propeietaire Maison        0
Nbr Voitures               0
Annee                      0
Mois                       0
Semaine                    0
Saison                     0
dtype: int64

### Remplir les lignes nulles de la colonne Couleur par la couleur la plus fréquente

#### Afficher les couleurs distinctes

In [20]:
data.loc[(~data["Nom Produit"].isin(["Red","Yellow","White","Black","Blue", "Silver"]) , "Couleur")] = "Inconnu"
data.loc[data["Nom Produit"].str.contains("Red") , "Couleur"] = "Rouge"
data.loc[data["Nom Produit"].str.contains("Silver") , "Couleur"] = "Argent"
data.loc[data["Nom Produit"].str.contains("Black") , "Couleur"] = "Noir"
data.loc[data["Nom Produit"].str.contains("White") , "Couleur"] = "Blanc"
data.loc[data["Nom Produit"].str.contains("Yellow") , "Couleur"] = "Jaune"
data.loc[data["Nom Produit"].str.contains("Blue") , "Couleur"] = "Bleu"

### Afficher le nombre des valeurs nulles dans les donnees apres les modifications

In [21]:
data.isnull().sum()

ID Commande            0
ID Client              0
ID Produit             0
ID Territoire          0
Quantite Commande      0
Cout standard          0
Nom Client             0
Ville                  0
Nom Produit            0
Couleur                0
Prix                   0
Modele                 0
Sous Categorie         0
Categorie              0
Type Business          0
Type Canal             0
Region                 0
Pays                   0
Continent              0
ID Date                0
Date                   0
Date de Naissance      0
Etat Civil             0
Genre                  0
Revenu annuel          0
Nbr Enfants            0
Poste                  0
Propeietaire Maison    0
Nbr Voitures           0
Annee                  0
Mois                   0
Semaine                0
Saison                 0
dtype: int64

In [22]:
data.head()

,ID Commande,ID Client,ID Produit,ID Territoire,Quantite Commande,Cout standard,Nom Client,Ville,Nom Produit,Couleur,...,Genre,Revenu annuel,Nbr Enfants,Poste,Propeietaire Maison,Nbr Voitures,Annee,Mois,Semaine,Saison
0,43659001,13314,349,5,1,1898.0944,Jordan Hernandez,Grossmont,"Mountain-100 Black, 42",Noir,...,M,120000,3,Professional,1,4,2017,07,28,Ete
1,43659002,13314,350,5,3,1898.0944,Jordan Hernandez,Grossmont,"Mountain-100 Black, 44",Noir,...,M,120000,3,Professional,1,4,2017,07,28,Ete
2,43659003,13314,351,5,1,1898.0944,Jordan Hernandez,Grossmont,"Mountain-100 Black, 48",Noir,...,M,120000,3,Professional,1,4,2017,07,28,Ete
3,43659004,13314,344,5,1,1912.1544,Jordan Hernandez,Grossmont,"Mountain-100 Silver, 38",Argent,...,M,120000,3,Professional,1,4,2017,07,28,Ete
4,43659005,13314,345,5,1,1912.1544,Jordan Hernandez,Grossmont,"Mountain-100 Silver, 42",Argent,...,M,120000,3,Professional,1,4,2017,07,28,Ete

In [23]:
data["Date de Naissance"].unique()

array(['1980-08-03T00:00:00.000000000', '1977-05-27T00:00:00.000000000',
       '1984-01-27T00:00:00.000000000', ...,
       '1977-07-07T00:00:00.000000000', '1982-10-21T00:00:00.000000000',
       '1974-03-16T00:00:00.000000000'], dtype='datetime64[ns]')

### Calculer la colonne d'age des clients

In [24]:
data["Date de Naissance"] = data["Date de Naissance"].dt.strftime('%Y-%m-%d')
data["Date de Naissance"].unique()

array(['1980-08-03', '1977-05-27', '1984-01-27', ..., '1977-07-07',
       '1982-10-21', '1974-03-16'], dtype=object)

In [25]:
data["Date de Naissance"].replace('NaT', data["Date de Naissance"].value_counts().idxmax(), inplace =True)

In [26]:
from datetime import date, datetime
def calculer_age(naissance):
    naissance = datetime.strptime(naissance, '%Y-%m-%d').date()
    today = date.today()
    return today.year - naissance.year - ((today.month, 
                                      today.day) < (naissance.month, 
                                                    naissance.day))
data["Age"] = data["Date de Naissance"].apply(calculer_age)
data["Age"].unique()

array([42, 45, 39, 37, 26, 48, 61, 28, 29, 27, 30, 33, 58, 38, 24, 46, 41,
       49, 25, 43, 59, 31, 22, 51, 32, 47, 23, 40, 34, 53, 35, 36, 44, 65,
       66, 62, 55, 54, 50, 52, 57, 60, 71, 63, 56, 68, 64, 69, 74, 67, 70,
       72, 82, 73, 75, 81, 83, 78, 77, 84, 76, 86, 90, 91, 89, 80, 85, 79,
       92, 87], dtype=int64)

In [27]:
data["Tranche d'âge"] = ['20-40' if ((x >= 20) & (x <= 40)) else '40-60' if ((x > 40) & (x <= 60)) else '60-80' if ((x > 60) & (x <= 80)) else '80+' for x in data['Age']]
data["Tranche d'âge"].unique()

array(['40-60', '20-40', '60-80', '80+'], dtype=object)

In [28]:
data.drop(columns = ['Date de Naissance','ID Commande', 'ID Client', 'ID Produit', 'ID Territoire','ID Date'], inplace = True)

In [29]:
data["Propeietaire Maison"].unique()

array([1, 0], dtype=int64)

In [30]:
data["Propeietaire Maison"].replace(to_replace = [1,0],
                                    value= ['OUI','NON'], 
                                    inplace = True)
data["Propeietaire Maison"].unique()

array(['OUI', 'NON'], dtype=object)

In [31]:
data["Etat Civil"].unique()

array(['M', 'S'], dtype=object)

In [32]:
data["Etat Civil"].replace(to_replace = ["M","S"],
                           value= ['Marié(e)','célibataire'], 
                           inplace = True)
data["Etat Civil"].unique()

array(['Marié(e)', 'célibataire'], dtype=object)

In [33]:
data["Genre"].unique()

array(['M', 'F'], dtype=object)

In [34]:
data["Genre"].replace(to_replace = ['M', 'F'],
                      value= ['Homme','Femme'], 
                      inplace = True)
data["Genre"].unique()

array(['Homme', 'Femme'], dtype=object)

In [35]:
data.columns

Index(['Quantite Commande', 'Cout standard', 'Nom Client', 'Ville',
       'Nom Produit', 'Couleur', 'Prix', 'Modele', 'Sous Categorie',
       'Categorie', 'Type Business', 'Type Canal', 'Region', 'Pays',
       'Continent', 'Date', 'Etat Civil', 'Genre', 'Revenu annuel',
       'Nbr Enfants', 'Poste', 'Propeietaire Maison', 'Nbr Voitures', 'Annee',
       'Mois', 'Semaine', 'Saison', 'Age', 'Tranche d'âge'],
      dtype='object')

 <H1 align= "center"> Decoupage des fichiers par annees </H1>

In [36]:
data["Annee"].unique()

array(['2017', '2018', '2019', '2020'], dtype=object)

In [37]:
data_2017 = data.loc[data["Annee"] == '2017']
print(data_2017.shape)

(5278, 29)

In [38]:
data_2017.to_csv("Data/Adventure_works2017.csv", sep=";", encoding="utf-8-sig")

In [39]:
data_2018 = data.loc[data["Annee"] == '2018']
print(data_2018.shape)

(18858, 29)

In [40]:
from sqlalchemy import create_engine
import pymysql

In [41]:
engine = create_engine('postgresql://postgres:hkhouya10@localhost:5432/adventurework')
data_2018.to_sql('adventurework', engine,if_exists='replace')

858

In [42]:
data_2019 = data.loc[data["Annee"] == '2019']
print(data_2019.shape)

(53849, 29)

In [44]:
engine = create_engine('mysql+pymysql://root:@localhost/adventurework')
cnx = engine.connect()
data_2019.to_sql("adventurework", cnx, if_exists='replace')
cnx.close()

In [45]:
data_2020 = data.loc[data["Annee"] == '2020']
print(data_2020.shape)

(43268, 29)

In [46]:
data_2020.to_excel("Data/Adventure_works2020.xlsx", sheet_name = "Adventureworks", encoding="utf-8-sig")